.searchBar-div{

    display: flex;
    align-items: center;
}
.div-search-form{
    display: flex;
    align-items: center;
}
.form{
    width: 100%;
    
}

.search-button{
   margin-left: 4px;
    cursor: pointer;
   
}
.search-button-icon{
    width: 1em;
    height: 1em;
}


  